<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077409059300-kuk0rste8rursj5k62krh1f73he88fb6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077409059300-kuk0rste8rursj5k62krh1f73he88fb6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1077409059300-8gajnvpddtd42nvccnu12is6j0pmlnh2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfz1w1Ulubgqv3Lp31zwqZvhQWyMqp-JY</string>
	<key>GCM_SENDER_ID</key>
	<string>1077409059300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.gosolvo</string>
	<key>PROJECT_ID</key>
	<string>gosolvo-24693</string>
	<key>STORAGE_BUCKET</key>
	<string>gosolvo-24693.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077409059300:ios:2e40cbb80c76d1a70577f1</string>
	<key>DATABASE_URL</key>
	<string>https://gosolvo-24693.firebaseio.com</string>
</dict>
</plist>